.App{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    vertical-align: top ;
}
Header {
    height: 150px;
    background-color:  #6aa84f;
    width: 900px;
    margin:20px 20px;
    display: inline-block;
    vertical-align: top;
}

Navigation {
    height: 300px;
    width: 200px;
    background-color:#6fa8dc;
    display: inline-block;
    margin-bottom: 65px;
    margin-left: 10px;
    vertical-align: top;
    margin-right: 10px;
} 
Main {
    height: 400px;
    width: 700px;
    background-color:#e06666;
    display: inline-block;
    margin: 5px 5px 20px 5px;
    vertical-align: top;

}
SubContents {
    height: 200px;
    width: 210px;
    background-color:#ffd966;
    display: inline-block;
    vertical-align: top;
    margin-left: 11px;
    margin-top: 10px;
    align-items: end;
    vertical-align: top;

}
Advertisement {
    height: 120px;
    width: 660px;
    background-color: #b4a7d6;
    display: inline-block;
    vertical-align: bottom;
    margin:40px 0 0 10px;
    vertical-align: top;

}
