.App {
  /* text-align: center; */
  align-items: center;
}

button{
  background-color: rgb(255, 255, 103);
  color: red;
  width: 90px;
  height: 50px;
  margin: 20px 20px 2px 20px;
  border: 1px rgb(254, 64, 64) solid;
  border-radius: 25px;
}

ol{
  color: green;
 
}

li{
  background-color: aqua;
  margin: 2px;
  padding: 5px;
  min-width: 90px;
  max-width: fit-content;
  border: 2px black dotted;
  border-radius: 50px;
}