.button-container {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction:column;
    margin-left: 50px;
}

/* Primary Button Style */
.search {
    height: 30px;
    width: 110px;
    background-color: #f0f0f0;
    color: #008080;
    border-radius: 15px;
    border:  2px solid #008080;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 50px;
}


/* Secondary Button Style */
.add {
    padding: 10px 15px;
    box-align: left;
    background-color: #1fc7c7;
    color: #fff;
    border-radius: 50%;
    border: #1ccbcb;
    font-size: 16px;
    margin: 20px 10px;
}


/* Call to Action Button Style */
.ca {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    
}
